<header class="container">
  <section class="smaller_header">
    <img
      class="left_row"
      src=".../../../../../assets/img/logo/left_row.png"
      alt="left"
    />
    <label for="" class="shipping">
      <strong id="free_shipping"> Frete Grátis</strong> para compras a partir de
      R$199!</label
    >
    <img
      class="right_row"
      src=".../../../../../assets/img/logo/right_row.png"
      alt="right"
    />
  </section>
  <section class="main_header">
    <img
      id="logo_header"
      src="../../../assets/img/logo/logo_header.svg"
      alt=""
    />

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">MASCULINO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FEMININO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PLUS SIZE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">JUVENIL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">INFANTIL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ACESSÓRIOS</a>
      </li>
      <li class="offers" id="offers">
        <a class="offers" href="#">OFERTAS</a>
      </li>
    </ul>
    <button class="cart" alt="" (click)="getCart()"></button>
  </section>
</header>
