<main class="content">
  <section class="box-1"></section>
  <section class="box-2">
    <div class="header">
      <label id="label_my-cart">Meu Carrinho</label>
      <img class="close-icon" src="../../assets/img/logo/close_icon.png" alt="close">
    </div>
    <div class="cart_info">
      <label class="bag_label">Sua sacola está vazia!</label>
      <p class="bag_text">Continue navegando em nossa loja para descobrir promoções e os melhores produtos!</p>
      <button (click)="getHome()" class="go-shopping-button">CONTINUAR COMPRANDO</button>
    </div>
  </section>
</main>
