<main class="container">
<section class="box_background">
  <div><img src="../../assets/img/home/banners/banner principal.png" class="background_center" alt=""></div>
</section>
<section class="box_content">
  <label for="" class="sub-title">LANÇAMENTOS</label>

  <ul class="container_list">
    <li><img class="shaft" src="../../assets/img/logo/left_icon.png" alt=""></li>
    <li class="container_item">
      <div class="container_tags_products">
        <span class="tag_percen">-30%</span>
        <span class="tag_info">Novo</span>
        <span class="tag_info">FRETE GRÁTIS</span>
      </div>
      <img src="../../assets/img/home/realeses/t-shirt_black.png" alt="">
      <div class="container-product_size">
        <p class="product_size"> P</p>
        <p class="product_size"> M</p>
        <p class="product_size"> G</p>
        <p class="product_size"> GG</p>
        <p class="product_size"> XG</p>
      </div>
      <p class="description_item">T-shirt Unissex 2b Yourself Preta Estampa Grafismo</p>
      <p class="price_item"><s class="old_price">R$ 152,00 </s> R$ 99,00</p>
      <p class="split_value">Em até 3x de <strong>R$ 33,00</strong></p>
      <button class="buy-button">Comprar</button>
    </li>
    <li class="container_item">
      <div class="container_tags_products_single">
        <span class="tag_info">FRETE GRÁTIS</span>
      </div>
      <img src="../../assets/img/home/realeses/sweatshirt.png" alt="">
      <div class="container-product_size">
        <p class="product_size"> P</p>
        <p class="product_size"> M</p>
        <p class="product_size"> G</p>
        <p class="product_size"> GG</p>
        <p class="product_size"> XG</p>
      </div>
      <p class="description_item">Blusa Moleton com Capuz Azul Escuro Bordado 2bdigital</p>
      <p class="price_item">R$ 199,00</p>
      <p class="split_value">Em até 6x de <strong>R$ 33,00</strong></p>
      <button class="buy-button">Comprar</button>
    </li>
    <li class="container_item">
      <img src="../../assets/img/home/realeses/shoes.png" alt="">
      <div class="container-product_size">
        <p class="product_size"> P</p>
        <p class="product_size"> M</p>
        <p class="product_size"> G</p>
        <p class="product_size"> GG</p>
        <p class="product_size"> XG</p>
      </div>
      <p class="description_item">Tênis Vans Edição Limitada 2bdigital Rosa/Rosa</p>
      <p class="price_item">R$ 549,00</p>
      <p class="split_value">Em até 6x de <strong>R$ 91,50</strong></p>
      <button class="buy-button">Comprar</button>
    </li>
    <li class="container_item">
      <div class="container_tags_products_single">
        <span id="tag_bag" class="tag_info">Novo</span>
      </div>
      <img src="../../assets/img/home/realeses/ecoBag.png" alt="">
      <div class="container-product_size">
        <p class="product_size"> P</p>
        <p class="product_size"> M</p>
        <p class="product_size"> G</p>
        <p class="product_size"> GG</p>
        <p class="product_size"> XG</p>
      </div>
      <p class="description_item">EcoBag E-commerce e Business Performance by TOTVS Ibirapuera</p>
      <p class="price_item">R$ 69,00</p>
      <p class="split_value">Em até 2x de <strong>R$ 34,95</strong></p>
      <button class="buy-button">Comprar</button>
    </li>
    <li><img class="shaft" src="../../assets/img/logo/right_icon.png" alt=""></li>
  </ul>
</section>

<section class="box_content">
  <label for="" class="sub-title">OS MAIS VENDIDOS </label>

  <ul class="container_list">
    <li><img class="shaft" src="../../assets/img/logo/left_icon.png" alt=""></li>
    <li class="container_item">
      <img src="../../assets/img/home/best-sellers/pink_bottle.png " alt="bottle">
      <div class="container-product_size_single">
        <p class="product_size">U</p>
      </div>
      <p class="description_item">Garrafa 500ml Lets Drink Some Water</p>
      <p class="price_item"> R$ 60,00</p>
      <p class="split_value">Em até 6x de <strong>R$ 30,00</strong></p>
      <button class="buy-button">Comprar</button>
    </li>
    <li class="container_item">
      <div class="container_tags_products_single">
        <span class="tag_percen">-30%</span>
      </div>
      <img src="../../assets/img/home/best-sellers/t-shirt_pink.png " alt="pink_t-shirt">
      <div class="container-product_size">
        <p class="product_size"> P</p>
        <p class="product_size"> M</p>
        <p class="product_size"> G</p>
        <p class="product_size"> GG</p>
        <p class="product_size"> XG</p>
      </div>
      <p class="description_item">T-shirt Unissex 2b Yourself Rosa</p>
      <p class="price_item"><s class="old_price">R$ 152,00 </s> R$ 99,00</p>
      <p class="split_value">Em até 3x de <strong>R$ 33,00</strong></p>
      <button class="buy-button">Comprar</button>
    </li>
    <li class="container_item">
      <img src="../../assets/img/home/best-sellers/mug.png" alt="mug">
      <div class="container-product_size_single">
        <p class="product_size">U</p>
      </div>
      <p class="description_item">Caneca 2bdigital</p>
      <p class="price_item">R$ 60,00</p>
      <p class="split_value">Em até 6x de <strong>R$ 30,00</strong></p>
      <button class="buy-button">Comprar</button>
    </li>
    <li class="container_item">
      <img src="../../assets/img/home/best-sellers/bottons.png" alt="bottons">
      <div class="container-product_size_single">
        <p class="product_size">U</p>
      </div>
      <p class="description_item">Kit 4 Bottons 2b Waves</p>
      <p class="price_item">R$ 15,00</p>
      <button class="buy-button">Comprar</button>
    </li>
    <li><img class="shaft" src="../../assets/img/logo/right_icon.png" alt=""></li>
  </ul>
</section>

<section class="box_content">
  <ul class="container_list">
    <li class="list_banner"><img class="banners" src="../../assets/img/home/banners/t-shirts_banner.png" alt="banner_t-shirt"> </li>
    <li class="list_banner"><img class="banners"src="../../assets/img/home/banners/mugs_banner.png" alt="banner_mug"> </li>
    <li class="list_banner"><img class="banners" src="../../assets/img/home/banners/bottle_banner.png" alt="banner_bottle"></li>
    <li class="list_banner"><img class="banners" src="../../assets/img/home/banners/bottons_banner.png" alt="banner_bottons"></li>
  </ul>
</section>

<section class="box_content">
  <label for="" class="sub-title">Ofertas imperdíveis</label>
  <ul class="container_list">
    <li><img class="shaft" src="../../assets/img/logo/left_icon.png" alt=""></li>
    <li *ngFor="let item of items" class="container_item">
      <div class="container_tags_products">
        <span class="tag_percen">-30%</span>
        <span class="tag_info">Novo</span>
        <span class="tag_info">FRETE GRÁTIS</span>
      </div>
      <img src="../../assets/img/home/realeses/t-shirt_black.png" alt="">
      <div class="container-product_size">
        <p class="product_size"> P</p>
        <p class="product_size"> M</p>
        <p class="product_size"> G</p>
        <p class="product_size"> GG</p>
        <p class="product_size"> XG</p>
      </div>
      <p class="description_item">T-shirt Unissex 2b Yourself Preta Estampa Grafismo</p>
      <p class="price_item"><s class="old_price">R$ 152,00 </s> R$ 99,00</p>
      <p class="split_value">Em até 3x de <strong>R$ 33,00</strong></p>
      <button class="buy-button">Comprar</button>
    </li>
    <li><img class="shaft" src="../../assets/img/logo/right_icon.png" alt=""></li>
  </ul>
</section>
</main>
