<footer class="container">
  <main class="content">
    <section class="content_info">
      <label for="" class="info_label">© 2022 AGÊNCIA 2B DIGITAL</label>
      <p class="info_paragraph">Avenida Ibirapuera, 2315 - Moema, São Paulo</p>
      <p class="info_paragraph">
        Loja fictícia desenvolvida para fins de estudos e testes
      </p>
    </section>
    <section class="content_logo">
      <img src="../../../assets/img/logo/logo_footer.svg" alt="" />
    </section>
  </main>
</footer>
